<% content_for :hero do %>
  <div class="py-24 mb-16 text-white bg-red-600">
    <div class="container flex flex-wrap justify-center mx-auto text-center">
      <h1 class="text-4xl font-black leading-tight lg:text-6xl">Find a Ruby on Rails developer</h1>
      <p class="w-full text-lg text-red-100">The internet's number one resource for Ruby on Rails developers</p>

      <div class="flex items-center mt-6 mb-3">
        <%= link_to "Find a developer", "#", class: "btn bg-teal-600 hover:bg-teal-500 py-3 px-6 lg:mr-2 shadow-sm border border-teal-500"%>
        <%= link_to "Find a job", jobs_path(anchor: "jobs-index"), class: "btn bg-red-700 lg:ml-2 py-3 px-6 hover:bg-red-600 shadow-sm border border-red-500" %>

      </div>
      <p class="w-full">or find developer friends in the <%= link_to "community", "#", class: "underline" %></p>
    </div>
  </div>
<% end %>

<div id="jobs-index" class="container px-0 mx-auto mb-24 lg:px-48">
  <%= render @jobs %>
</div>
