<div class="flex items-center mr-6 flex-no-shrink">
  <%= link_to root_path, class:"link text-lg tracking-tight font-semibold group text-red-600 hover:text-red-700 transition ease-in-out flex items-center justify-start" do %>
    <%= render_svg "icons/railsdevs-mark", title: "railsdevs.com", styles: "fill-current w-6 h-6 text-red-600 group-hover:text-red-700" %>
    <span class="ml-2 font-black text-black">RailsDevs</span>
  <% end %>
</div>
<div class="block lg:hidden">
  <button class="flex items-center px-3 py-2 border border-gray-500 rounded text-grey hover:text-gray-600 hover:border-gray-600">
    <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
  </button>
</div>
