@tailwind base;
@tailwind components;

/*! purgecss start ignore */
@import "trix/dist/trix.css";
@import "components/buttons";
@import "components/forms";
/*! purgecss end ignore */

@tailwind utilities;
